/*院長ご挨拶
------------------------------*/
.goaisatsu_catch{display:block;text-align:center;font-size:2.5rem;line-height:1.8;margin-bottom:25px;}
.incho_name{text-align:center;margin-top: 40px;display: table;}
.incho_name span{display: table-cell;vertical-align: middle;}
.incho_name strong{font-size:2.8rem;display: table-cell;}

.block_bio{background:#f7f7f7;padding:60px 20px 60px;margin-top: 60px;}
.bio_wrap{display:table;}
.bio_l{display:table-cell;vertical-align:top;padding:20px 40px 0 0}
.bio_r{display:table-cell;width:100%;vertical-align: middle;}
p.msg{text-align: center;line-height: 3.5rem;font-size: 1.6rem;}

dl.profile{
	display: flex;
	justify-content: stretch;
	padding: 10px 0;
}
dl.profile dt{
	width: 88px;
	margin-right: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
dl.profile dd{
	display: flex;
	align-items: center;
}
dl.profile dd span{
	font-size: 1.5rem;
	padding-left: 20px;
	position: relative;
	display: block;
}
dl.profile dd span::before{
	content:'\2022';
	left: 0;
	top: -10px;
	position: absolute;
	font-size: 2.5rem;
}


@media screen and (max-width:767px){
.block_bio{background:#f7f7f7;padding:40px 15px 10px;}
.bio_l{display:block;text-align:center;padding:0 0 30px 0;}
.bio_r{display:block;}
p.msg{text-align: left;font-size: 1.5rem;}
dl.profile{
	display: block;
}
dl.profile dt{display: block;}
}


/*診療について
------------------------------*/
.list_shinryou li{display:block;padding:20px 20px 20px 40px;position:relative;line-height:1.5;transition:0.3s;}
.list_shinryou li:nth-child(odd){background:#f7f7f7;}
.list_shinryou li:before{content:"";position:absolute;height:8px;width:8px;background:#7ecef4;left:20px;top:27px;border-radius:50%;}

/*施設案内
------------------------------*/
.block_shisetsu .inner{max-width:774px;padding-top:0;}

.list_shisetsu li{margin-bottom:56px;}
.box_shisetsu{padding-left:110px;position:relative;}
.box_shisetsu span{position:absolute;top:0;left:0;height:100px;width:100px;background:rgba(127,206,244,0.4);text-align:center;line-height:100px;}

@media screen and (max-width:767px){
.list_shisetsu li{margin-bottom:30px;}
.box_shisetsu{padding-left:70px;}
.box_shisetsu span{width:60px;height:60px;line-height:60px;font-size:1.3rem;}
}

/*診療予約
------------------------------*/
.block_shisetsu{padding-top:0;}

/*お知らせ一覧
------------------------------*/
.block_news .inner{max-width:770px;}

.news{max-width:520px;}

.list_news li{margin-bottom:25px;}
.list_news li a{display:block;padding:0 0 0 90px;position:relative;text-align:left;}
.list_news li a span{position:absolute;top:7px;left:0;font-size:1.2rem;}
.list_news li a p{border-bottom:1px solid #595757;padding:4px;}

.paging{overflow:hidden;margin-top:20px;}
.paging a:first-child{float:left}
.paging a:first-child i{margin-right:5px;}
.paging a:last-child{float:right}
.paging a:last-child i{margin-left:5px;}

/*詳細*/
.t_news{border-bottom:1px solid #595757;padding-bottom:10px;margin-bottom:10px;font-size:1.6rem;line-height:1.4}
.date{float:right;font-size:1.4rem;font-weight:normal;margin:5px 0 0 10px;}
.news_back{margin-top:50px;text-align:center;}
.news_back i{margin-right:5px;}

@media screen and (max-width:767px){
.list_news li a{padding:0;position:static;}
.list_news li a span{position:static;}
.list_news li a p{padding:0 0 6px;}
}

/*予約
------------------------------*/
.block_yoyaku{padding-top:0;}
.block_yoyaku>.inner{max-width:774px;}

.yoyaku_desc{text-align:center;}
.yoyaku_desc strong{display:table;font-size:2rem;border-bottom:1px solid #000;margin:0 auto 10px;padding-bottom:10px;line-height:1.4;}
.yoyaku_desc .single-icon-dot:before{color:#7fcef4}

.yoyaku_start{background:#f6f7f7;padding:25px;}
.yoyaku_start .inner{max-width:580px;}
.yoyaku_start h3{font-size:2.8rem;text-align:center;margin-bottom:15px;}
.yoyaku_start p{text-align:center;margin-bottom:20px;line-height:1.4;font-size:1.7rem;}

.yoyaku_start ul{margin-bottom:-15px;}
.yoyaku_start ul li{display:table;}
a.b_yoyaku_start{display:block;font-size:1.9rem;padding:25px;border:1px solid #7fcef4;text-align:center;border-radius:10px;transition:0.3s;line-height:1.3;color:#7fcef4;display:table-cell;vertical-align:middle;}
.hover a.b_yoyaku_start:hover{background:#7fcef4;color:#fff;}

/*予約フォーム
------------------------------*/
.t_yoyakuform{max-width:624px;text-align:center;margin:40px auto 30px;}
.t_yoyakuform img{max-width:100%;height:auto}
.yoyaku_subtitle{display:block;font-size:3rem;margin-bottom:30px;text-align:center;}
.yoyaku_form{max-width:825px;}

.table_yoyakuform{border-collapse:collapse;}
.table_yoyakuform th{background:#eeefef;text-align:left;padding:32px 20px;white-space:nowrap;width:15em;border-bottom:7px solid #fff;}
.table_yoyakuform th span{display:inline-block;background:#e60012;color:#fff;font-size:1.1rem;padding:5px;float:right;border-radius:4px;margin-left:20px;}
.table_yoyakuform th p{font-size:1.4rem;font-weight:normal;margin-top:10px;}
.table_yoyakuform td{padding:15px 0 15px 20px;vertical-align:middle;line-height:1.3}
.table_yoyakuform td a{color:#0068b7;text-decoration:underline;}
.hover .table_yoyakuform td a:hover{color:#e60012;}
.table_yoyakuform td a.b_change{display:inline-block;border:1px solid #aaa;color:#e60012;font-size:1.2rem;padding:6px 10px;border-radius:5px;background:linear-gradient(#fff,#ddd);font-weight:bold;margin-left:20px;text-decoration:none;}
.hover .table_yoyakuform td a.b_change:hover{background:linear-gradient(#ddd,#fefefe);}
.yf_name{display:inline-block;width:2.9em;text-align:right;margin-right:5px;}
.yoyaku_example{margin-left:10px;}

.table_yoyakuform td ul{margin-top:15px;}
.table_yoyakuform td ul li{padding-left:1.3em;font-size:1.3rem;line-height:1.3}
.table_yoyakuform td ul li:before{content:"＊";display:inline-block;width:1.3em;margin-left:-1.3em;}
.table_yoyakuform td ul li:first-child{margin-bottom:5px;}

.yoyaku_agree{text-align:center;margin-top:20px;}

/*プライバシー*/
.yoyaku_privacy{border:1px solid #000;padding:10px;margin-top:30px;}
.yoyaku_privacy .inner{line-height:1.5;padding:20px 30px;overflow-y:scroll;height:220px;}
.yoyaku_privacy .inner::-webkit-scrollbar{width:10px;}
.yoyaku_privacy .inner::-webkit-scrollbar-track{background:#eee;}
.yoyaku_privacy .inner::-webkit-scrollbar-thumb{background:#7fcef4;}
.yoyaku_privacy ul{margin-bottom:20px;}
.yoyaku_privacy ul>li{margin-bottom:15px;}
.yoyaku_privacy ul>li:last-child{margin-bottom:0;}

ol.list_privacy>li{padding-left:1.3em;margin-bottom:10px;}
ol.list_privacy>li:before{content:"";width:1.3em;display:inline-block;margin-left:-1.3em;}
ol.list_privacy>li:nth-child(1):before{content:"①";}
ol.list_privacy>li:nth-child(2):before{content:"②";}
ol.list_privacy>li:nth-child(3):before{content:"③";}
ol.list_privacy>li:nth-child(4):before{content:"④";}
ol.list_privacy>li:nth-child(5):before{content:"⑤";}
ol.list_privacy>li:nth-child(6):before{content:"⑥";}

/*ボタン*/
.yoyaku_submit{max-width:400px;overflow:hidden;margin-top:30px;text-align:center}
.yoyaku_submit_l{width:45%;float:left;padding-right:15px;}
.yoyaku_submit_r{width:55%;float:left}

.form .yoyaku_submit_l input{background:#fff;color:#000;border:1px solid #ccc;}
.form .yoyaku_submit_l input:hover{background:#f6f6f6;}

@media screen and (max-width:786px){
/*予約フォーム*/
.yf_name{width:2em;}
}

@media screen and (max-width:767px){

/*来店予約*/
a.b_yoyaku_start{font-size:1.6rem}

/*予約フォーム*/
.t_yoyakuform{margin:0px auto 20px;}
.yoyaku_{font-size:2.5rem;}

.table_yoyakuform th{padding:15px;display:block;width:100%;border-bottom:0}
.table_yoyakuform td{display:block;padding:15px;}
.table_yoyakuform td a.b_change{margin-left:10px}
.sp_block{display:block;padding-top:10px;}
.yoyaku_example{margin-left:0;display:block;margin-top:10px;}
.form .yoyaku_agree [class*="f-checkbox"] label{font-size:1.4rem}

/*プライバシー*/
.yoyaku_privacy{margin-top:0;}
.yoyaku_privacy .inner{padding:10px 10px 10px 0;}

}

@media screen and (max-width:374px){
/*予約をはじめる*/
.yoyaku_start{padding:20px;}
.yoyaku_start h3{font-size:2.5rem;}
.yoyaku_start p{text-align:left;}

/*予約フォーム*/
a.b_change{margin:10px auto 0;display:block;max-width:100px;text-align:center;}
.yoyaku_subtitle{font-size:2rem;margin-bottom:20px;}
}

/*マイオピン
------------------------------*/
.table_myopine td{text-align:left;line-height:1.3;}
.table_myopine tr td:last-child{text-align:right;white-space:nowrap;}

@media (max-width:767px){
	.table_myopine td{font-size:1.4rem;}
}
.list-maru {
	padding-left: 20px;
}
.list-maru li{
	list-style: disc;
}